*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import './components/header';

@import './components/main';

@import './components/footer';

.subtitle {
    color: #DB5412;
    font-size: 40px;
    padding-bottom: 1.5rem;
}
