$breakpoints: (
    xs : 426px,
    sm : 560px,
    md : 850px,
    lg : 1024px,
);

@mixin media ($breakpoint) {
    
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}


.main{
    background-color: #f5f5f5;
    width: 100%;
    font-family: 'League Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    &__banner{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        img{
            margin: 0;
            width: 100%;            
        }

        @include media(md){
            width: 100%;
        }
    }

    &__aboutUs{
        background-color: #f5f5f5;
        width: 70%;
        min-height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;   
        
            
        
        &-text{

            h2{
                @extend .subtitle;

                @include media(sm){
                    padding-bottom: .5rem;
                    padding-top: .5rem;
                    
                }

            }

            p{
                color: #163586;
                width: 80%;
                font-size: 15px;
                padding: 1rem;
                padding-right: 0;
                padding-left: 0;

                @include media(sm){
                    width: 100%;
                }
                
            }

            @include media(md){
                padding-left: 2rem;
            }
            @include media(sm){
                padding-left: 0;
                text-align: center;
                
            }

        }

        &-img{
            height: 260px;
        }


        @include media(md){
            width: 100%;
        }

        @include media(sm){
            flex-direction: column;
            justify-content: center;
            padding-bottom: .5rem;
        }
    }


    &__carac {
        width: 70%;
        min-height: 400px;
        background-color: #1B9AAA;
        display: flex;
        justify-content: center;
        align-items: center;

        &-cont{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 5rem;
            column-gap: 3rem;
            
            justify-content: center;

            &-div{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #163586;

                
                i{
                    padding-bottom: 1rem;
                    
                    img{
                        height: 45px;
                        color: #f5f5f5;
                    }
                }
                h3{
                    font-size: 23px;
                    padding-bottom: .3rem;
                }
                p{
                    text-align: center;
                }
            }
            @include media(xs){
                padding: 1rem;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }
        }

        @include media(md){
            width: 100%;
        }
    }

    &__cta{
        width: 70%;
        background-image: url(../img/cta.jpg);
        background-position: center;
        height: 257px;
        display: flex;
        justify-content: center;
        align-items: center;        

        a{
            text-align: center;
            color: #f5f5f5;
            text-decoration: none;
            background-color: #DB5412;
            padding: .8rem;
            border-radius: 10px;
            font-family: 'League Gothic', sans-serif;
            font-size: 30px;
            width: 25%;
            box-shadow: 0 3px 10px rgb(159, 159, 159);

            &:hover{
                background-color: #163586;
                color: #DB5412;
                box-shadow: 0 5px 15px rgb(34, 32, 94);
            }

            @include media(sm){
                width: 40%;
            }

        }

        @include media(md){
            width: 100%;
        }
    }
}